* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.max-screen {
  width: 1200px;
  margin: 0 auto;
  background-color: #111;
}

@media (max-width: 1220px) {
  .max-screen {
    width: 972px;
  }
}
@media (max-width: 992px) {
  .max-screen {
    width: 748px;
  }
}

@media (max-width: 768px) {
  .max-screen {
    width: 556px;
  }
}

@media (max-width: 576px) {
  .max-screen {
    width: 380px;
  }
}
@media (max-width: 400px) {
  .max-screen {
    width: 380px;
  }
}
